<!DOCTYPE HTML>

<html>
	<head>
		<link href="/static/favicon.ico" rel="icon" />
		<title>Ankit Rana, The Analyst</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/main.css" />
		<noscript><link rel="stylesheet" href="/static/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Ankit Rana<br />
						The Analyst</h1>
						<p>The day you stop Learning, you stop Living.</p> <br />
						<h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/tableau">Change To Tableau Version</a><br />
						</h2>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo"><i class="fa fa-home" aria-hidden="true"></i></a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/">Project Portfolio</a></li>
							<li><a href="/education">Education</a></li>
							<li><a href="/experience">Positions I Held</a></li>
						</ul>
						<ul class="icons">
									<li><a href="https:/linkedin.com/in/ankitrana0206" class="icon brands alt fa-linkedin"><span class="label">linkedin</span></a></li>
									<li><a href="https://facebook.com/ankitrana2007" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://instagram.com/ankitrana2709" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/ankitrana2709" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">Database Management</span>
									<h2><a href="https://github.com/ankitrana2709/SQL_Projects/tree/main/Catching_Thief">Catching Thief Using SQL<br />
									</a></h2>
									<p>In the town of Fiftyville, We are Provided with some suspects and information of a theft,
										<br/ >Be the coolest agent of the town and solve the mystery Using Database Queries.</p>
								</header>
								<a href="https://github.com/ankitrana2709/SQL_Projects" class="image main"><img src="/static/Thief.webp" alt="" /></a>
								<ul class="actions special">
									<li><a href="https://github.com/ankitrana2709/SQL_Projects/tree/main/Catching_Thief" class="button large">View Project Source</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">Data Exploration</span>
										<h2><a href="https://public.tableau.com/app/profile/ankit.rana7104/viz/CovidDeathCount-CDC/CovidDeathCount">CDC<br /> Covid Death Count
										</a></h2>
									</header>
									<a href="https://public.tableau.com/app/profile/ankit.rana7104/viz/CovidDeathCount-CDC/CovidDeathCount" class="image fit"><img src="/static/CDC.jpg" alt="" /></a>
									<p>Analysed and Forecasted infected population with demographics.<ul><li>Worked with Big Data.</li> <li>Used SQL and Excel to clean the Data. </li> <li>Used Tableau to visualize data.</li></ul></p>
									<ul class="actions special">
										<li><a href="https://github.com/ankitrana2709/Covid_Death_Count" class="button">View Source</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Web Scraping</span>
										<h2><a href="https://jp-tok.dataplatform.cloud.ibm.com/dashboards/156aadda-4937-4efe-81aa-bca4bc7284ae/view/5913ca7c11801dcb7cceb5e4079128007a35235ab7bbd503898c7b495e322397a8681095c82f195cda125462f3e4165b9d">Analysing Future Technologies</a></h2>
									</header>
									<a href="https://jp-tok.dataplatform.cloud.ibm.com/dashboards/156aadda-4937-4efe-81aa-bca4bc7284ae/view/5913ca7c11801dcb7cceb5e4079128007a35235ab7bbd503898c7b495e322397a8681095c82f195cda125462f3e4165b9d" class="image fit"><img src="/static/AFT.jpg" alt="" /></a>
									<p>Collected, Wrangled, Explored Data Used statistical and Visualization tools to give the final results.<ul><li>Gives Insights about: Programming Languages Databases Frameworks Platforms.</li> <li>Provides their future Usage as well.</li> <li>Shows demographics about the data.</li></ul></p>
									<ul class="actions special">
										<li><a href="https://github.com/ankitrana2709/Analysing---Predicting-Future-Technologies" class="button">View Source</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Web Development</span>
										<h2><a href="https://ankcs50finance.herokuapp.com/">Finance<br />
										Paper Trading</a></h2>
									</header>
									<a href="https://ankcs50finance.herokuapp.com/" class="image fit"><img src="/static/finance.jpg" alt="" /></a>
									<p>Connected API with yfinance. ALL data is concurrent with the real time data.
										Application which lets you:
										<ul><li>Quote a Stock</li>
											<li>Buy/Sell the stock </li>
											<li>Keeps track of your History</li></ul></p>
									<ul class="actions special">
										<li><a href="https://github.com/ankitrana2709/Finance" class="button">View Source</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Web Development</span>
										<h2><a href="https://yesbuddy.herokuapp.com/">Student's Buddy<br />
										Task Manager</a></h2>
									</header>
									<a href="https://yesbuddy.herokuapp.com/" class="image fit"><img src="/static/SBUDDY.jpg" alt="" /></a>
									<br>
							
									
									<p> Student's Companion.
										<br><br>
										<ul>
										<li>Helps students to store their daily work Progress</li>
										<li>Stores their data, gives insights over their progress.</li>
										<li>Gives information about Task Managing as well.</li>
									</ul></p>
									<ul class="actions special">
										<li><a href="https://github.com/ankitrana2709/Student-s-Buddy" class="button">View Source</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Data Visualization</span>
										<h2><a href="https://public.tableau.com/app/profile/ankit.rana7104/viz/TeradataInc_/Teradata?publish=yes">Teradata Inc.<br />
										Holders Analysis </a></h2>
									</header>
									<a href="https://public.tableau.com/app/profile/ankit.rana7104/viz/TeradataInc_/Teradata?publish=yes" class="image fit"><img src="/static/teradata.png" alt="" /></a>
									<p>Scraped data from yfinance using Octoparse:
										<ul><li>Filter for top Investors and MF Investors</li>
											<li>Revenue vs income Analysis </li>
											<li>Net income for shareholders</li></ul></p>
									<ul class="actions special">
										<li><a href="https://github.com/ankitrana2709/teradata" class="button">View Source</a></li>
									</ul>
								</article>
								<article>
									
								</article>
							</section>
					</div>
					<div style="height: 20px;">
					  </div>
					  
				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="mailto:rana1997ankit23@gmail.com" method="post" enctype="text/plain">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="number">Number</label>
										<input type="number" name="number" id="number" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Location:</h3>
								<h3>Jalandhar,Punjab,<br />
								India</h3>
							</section>
							<section>
								<h3>Phone:</h3>
								<h3><a href="#-">+91- 9041114199</a></h3>
							</section>
							<section>
								<h3>Email:</h3>
								<h3><a href="mailto:<ankitranastun@gmail.com>">ankitranastun@gmail.com</a></h3>
							</section>
							<section>
								<h3>Social:</h3>
								<ul class="icons alt">
									<li><a href="https:/linkedin.com/in/ankitrana0206" class="icon brands alt fa-linkedin"><span class="label">linkedin</span></a></li>
									<li><a href="https://facebook.com/ankitrana2007" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://instagram.com/ankitrana2709" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/ankitrana2709" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li><h3>&copy; Created by a  <a href="https://instagram.com/ankitrana2709">Mathematician</a></h3></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/jquery.min.js"></script>
			<script src="/static/jquery.scrollex.min.js"></script>
			<script src="/static/jquery.scrolly.min.js"></script>
			<script src="/static/browser.min.js"></script>
			<script src="/static/breakpoints.min.js"></script>
			<script src="/static/util.js"></script>
			<script src="/static/main.js"></script>

	</body>
</html>